/* Tailwind config */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter';
}
